/* 管理画面のスタイルシート */

/* 背景色 */
body.wp-admin {
	background-color: #f1f1f1;
}

/* メニューの背景 */
#adminmenuwrap {
	background-color: #950000;
	font-family: "メイリオ","游ゴシック";
}
#adminmenu {
	background-color: #950000;
}
#adminmenuback {
	background-color: #950000;
}
#wpadminbar {
	background-color: #950000;
	background: #950000;
}

/* メニューの文字 */
#wpadminbar a.ab-item {
	color: rgba(240,246,252,.6);
}
#wpadminbar>#wp-toolbar span.ab-label {
	color: rgba(240,246,252,.6);
}


/* ホバー時の背景色 */
#adminmenu li.menu-top:hover {
	background-color: #950000;
}
#adminmenu a:hover {
	background-color: #950000;
	font-weight: bold;
}
#adminmenu li.opensub>a.menu-top {
	background-color: #950000;
	color: #fff;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
	background-color: #950000;
}
#adminmenu li.menu-top:hover {
	background-color: #bb0101;
}
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
	background-color: inherit;
}
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
	background: inherit;
}
#wpadminbar .ab-top-menu>li.hover>.ab-item {
	background: inherit;
	color: #fff;
}
#wpadminbar .menupop .ab-sub-wrapper {
	background-color: #bb0101;
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
	background-color: #bb0101;
}


/* ホバー時の文字 */
#adminmenu a:hover {
	color: #fff;
	font-weight: bold;
}
#adminmenu li:hover div.wp-menu-image:before {
	color: #fff;
}
#adminmenu .wp-submenu a:hover, #adminmenu a:hover {
	color: #fff;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: #bb0101;
}
#collapse-button:hover {
	color: #fff;
}
.smart_slider__admin_menu_go_pro {
	color: rgba(240,246,252,0.7);
	font-weight: normal;
}
.smart_slider__admin_menu_go_pro:hover {
	color: rgba(255,255,255,1);
	font-weight: 700;
}
#wpadminbar li:hover .ab-icon:before {
	color: #fff;
}
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
	color: #fff;
}
#adminmenu li.opensub div.wp-menu-image:before {
	color: #fff;
}
#wpadminbar li.hover .ab-icon:before {
	color: #fff;
}
#wpadminbar .quicklinks .menupop.hover ul li a:hover {
	color: #fff;
}
#wpadminbar li.hover .ab-item:before {
	color: #fff;
}
#wpadminbar li:hover .ab-item:before {
	color: #fff;
}
#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label {
	color: #fff;
}
#wpadminbar #wp-admin-bar-comments .count-0 {
	opacity: 1;
}
#wpadminbar>#wp-toolbar li.hover span.ab-label {
	color: #fff;
}



/* 項目選択時の背景 */
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu  {
	background-color: #f81f1f;
}
#adminmenu .wp-submenu {
	background-color: #bb0101;
}

