@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .c-arrival {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    color: #fff;
    position: absolute;
    bottom: 1px;
    left: 10px;
    z-index: 50;
  }
}

@include m.mq(tab){
}
@include m.mq(pc){
}