@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .c-button--more {
		display: block;
		text-align: center;
		text-decoration: none;
		width: 140px;
		margin: auto;
		padding: 0.6rem 1rem;
		font-weight: bold;
		border: 2px solid #CC0000;
		color: #CC0000;
		border-radius: 100vh;
		transition: 0.5s;
		margin-top: 10px;
		&:hover {
			color: #fff;
			background: #CC0000;
		}
  }
	.c-button--more{
		button {
			color: #CC0000;
			font-weight: bold;
		}
		&:hover button {
			color: #fff;
		} 
	}
}

@include m.mq(tab){
}
@include m.mq(pc){
}