@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .c-button--archive {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: auto;
    padding: 0.8rem 1.2rem;
    font-weight: bold;
    border: 2px solid #CC0000;
    color: #CC0000;
    transition: 0.5s;
    margin-top: 30px;
    margin-bottom: -15px;
    &:hover {
      color: #fff;
      background: #CC0000;
    }
  }
  .c-button--archive button {
    color: #CC0000;
    font-weight: bold;
  }
  .c-button--archive:hover button {
    color: #fff;
  }
}

@include m.mq(tab){
  .c-button--archive {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 300px;
    margin: auto;
    padding: 1rem;
    font-weight: bold;
    border: 2px solid #CC0000;
    color: #CC0000;
    transition: 0.5s;
    margin-top: 50px;
    margin-bottom: 50px;
    &:hover {
      color: #fff;
      background: #CC0000;
    }
  }
  .c-button--archive button {
    color: #CC0000;
    font-weight: bold;
  }
  .c-button--archive:hover button {
    color: #fff;
  }
}
@include m.mq(pc){
}

