@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .c-nav-icon {
    height: 14px;
    width: 14px;
    margin: 0px 14px;
    &--home {
      height: 16px;
      width: 16px;
      margin: 0px 18px;
    }

  }
}
