@use "../../foundation/breakpoint" as m;

@include m.mq(sp) {
	.c-recommend--kisyuinformation {
		width: 94vw;
		max-width: 600px;
		height: 130px;
		background-color: #fff8f0;
		border-radius: 10px;
		box-shadow: 2px 2px 2px 0px #7e7e7e;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
}

@include m.mq(tab) {
}
@include m.mq(pc) {
}
