@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .c-title {
    a {
      color: #cd0707;
      font-weight: bold;
    }
  }
}

@include m.mq(tab){
  .c-title {
    a {
      color: #cd0707;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
@include m.mq(pc){
  .c-title {
    a {
      font-size: 20px;
    }
  }
}