@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-article-layout {
    width: 80vw;
  }
}

@include m.mq(tab){
  .p-article-layout {
    width: 80vw;
  }
}
@include m.mq(pc){
  .p-article-layout {
    width: 80vw;
  }
}