@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-article-layout {
    width: 80vw;
    &--singlepage {
      width: 80vw;
    }
    &--sitemap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@include m.mq(tab){
  .p-article-layout {
    width: 80vw;
    max-width: 1000px;
    &--singlepage {
      width: 80vw;
    }
    &--frontpage {
      background-color: #fff;
    }
  }
}
@include m.mq(pc){
  .p-article-layout {
    width: 80vw;
  }
}