@use"../../foundation/breakpoint" as m;

/* 企業情報ページのレイアウト・設定 */

@include m.mq(sp){
  .p-article-layout--page {
    padding: 10px 20px;
    background-color: #edebeb;
    margin-top: 20px;
    width: 90vw;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 20px;
      margin-top: 20px;
    }
    .wp-block-table {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}

@include m.mq(tab){
  .p-article-layout--page {
    padding: 20px 80px;
    background-color: #edebeb;
    margin-top: 40px;
    width: 80vw;
    h2 {
      font-size: 34px;
    }
    h3 {
      font-size: 26px;
      margin-top: 20px;
    }
    .wp-block-table {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

}
@include m.mq(pc){
  .p-article-layout--page {
    padding: 40px 120px;
    background-color: #edebeb;
    margin-top: 80px;
    width: 70vw;
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 30px;
      margin-top: 20px;
    }
    .wp-block-table {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}
