@use "../../foundation/breakpoint" as m;

@include m.mq(sp) {
}

@include m.mq(tab) {
	.p-banner2--container {
		width: 660px;
		height: 300px;
		background-color: #62a06c;
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
		position: relative;
		margin-bottom: 50px;
		.p-banner2 {
			overflow: hidden;
			width: 85%;
			height: auto;
			border-radius: 30px;
			img {
				object-fit: contain;
				width: 100%;
				height: 100%;
				transition: 0.3s ease-in-out; /* ホバー時のトランジション */
			}
		}
	}
}

@include m.mq(pc) {
}
