@use "../../foundation/breakpoint" as m;

@include m.mq(sp) {
	.p-eyecatch--container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@include m.mq(tab) {
	.p-eyecatch--container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@include m.mq(pc) {
	.p-eyecatch--container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
