@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-footer__logo__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@include m.mq(tab){
  .p-footer__logo__flex {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@include m.mq(pc){
  .p-footer__logo__flex {
    flex-direction: row;
  }
}