@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-global-nav__list {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    a {
      font-size: 16px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0);


      }
    }
    &--home {
      height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      a {
        font-size: 18px;
      }
    }
  }
}




