@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-header {
    width: 100vw;
    h1 {
      p {
        font-size: 24px;
        color: #fff;
        font-family: 'ヒラギノ明朝 ProN','Yu Mincho','MS PMincho';
      }
    }
  }
}

@include m.mq(tab){
  .p-header {
    h1 {
      p {
        display: none;
      }
    }
    img {
      display: block;
      height: 30px;
      width: auto;
    }
  }
}

@include m.mq(pc){
  .p-header {
    h1 {
      p {
        display: none;
      }
    }
    img {
      display: block;
      height: 30px;
      width: auto;
    }
  }
}