@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-header--background {
    background-image: url(../image/slide132.jpg);
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 50px;

    &--archive {
      background-image: url(../image/tenpo-eyecatch2.png);
      width: 100vw;
      height: 100px;
      background-size: cover;
      background-position: center;
      position: relative;
      top: 50px;
    }

    &--post {
      background-image: url(../image/eyecatch-post.png);
      width: 100vw;
      height: 100px;
      background-size: cover;
      background-position: center;
      position: relative;
      top: 50px;
    }
  }
}

@include m.mq(tab){
  .p-header--background {
    background-image: url(../image/slide132.jpg);
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 100px;

    &--archive {
      background-image: url(../image/tenpo-eyecatch2.png);
      width: 100vw;
      height: 150px;
      background-size: cover;
      background-position: center;
      position: relative;
      top: 100px;
    }

    &--post {
      background-image: url(../image/eyecatch-post.png);
      width: 100vw;
      height: 150px;
      background-size: cover;
      background-position: center;
      position: relative;
      top: 100px;
    }
  }
}
@include m.mq(pc){
  .p-header--background {
    background-image: url(../image/slide132.jpg);
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 100px;

    &--archive {
      background-image: url(../image/tenpo-eyecatch2.png);
      width: 100vw;
      height: 250px;
      background-size: cover;
      background-position: center;
      position: relative;
      top: 100px;
    }

    &--post {
      background-image: url(../image/eyecatch-post.png);
      width: 100vw;
      height: 250px;
      background-size: cover;
      background-position: center;
      position: relative;
      top: 100px;
    }
  }
}
