@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-kisyuinfo--container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
}

@include m.mq(tab){
  .p-kisyuinfo--container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
}
@include m.mq(pc){
}