@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-media-list {
    margin-bottom: 50px;
    &__content {
      li {
        padding: 20px;
      }
    }
  }
}

@include m.mq(tab){
  .p-media-list {
    margin-bottom: 50px;
    &__content {
      li {
        padding: 20px;
      }
    }
  }
}
@include m.mq(pc){
}