@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-main--flex {
    display: flex;
    justify-content: center;
  }
}
@include m.mq(tab){
  .p-main--flex {
    display: flex;
    justify-content: center;
  }
}
@include m.mq(pc){
  .p-main--flex {
    display: flex;
    justify-content: center;
  }
}