@use"../../foundation/breakpoint" as m;


@include m.mq(sp){
  .p-news--title {
    margin-top: -4px;
    margin-bottom: 4px;
    a {
      color: #cc0000;
      font-weight: bold;
    }
  }
}

@include m.mq(tab){
  .p-news--title {
    margin-top: -4px;
    margin-bottom: 4px;
    a {
      color: #cc0000;
      font-weight: bold;
    }
  }
}
@include m.mq(pc){
}