@use "../../foundation/breakpoint" as m;

@include m.mq(sp) {
	.p-newmachine--archive--container {
		display: flex;
    flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 20px;
    position: relative;
    .c-kisyu-title {
      p {
        color: #600100;
        text-align: center;
      }
    }
    .c-kisyu-number {
      p {
        color: #600100;
        text-align: center;
        text-shadow: -1px -1px 1px #fff8f0, 1px -1px 1px #fff8f0, -1px 1px 1px #fff8f0, 1px 1px 1px #fff8f0; /* 縁取りの影 */
        position: relative;
      }
    }
    &:hover {
      top: 2px;
      left: 2px;
      .c-newmachine--kisyuinformation {
        box-shadow: none;
      }
    }
	}
}

@include m.mq(tab) {
  .p-newmachine--archive--container {
		display: flex;
    flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 20px;
    position: relative;
    .c-kisyu-title {
      p {
        color: #600100;
        text-align: center;
      }
    }
    .c-kisyu-number {
      p {
        color: #600100;
        text-align: center;
        text-shadow: -1px -1px 1px #fff8f0, 1px -1px 1px #fff8f0, -1px 1px 1px #fff8f0, 1px 1px 1px #fff8f0; /* 縁取りの影 */
        position: relative;
      }
    }
    &:hover {
      top: 2px;
      left: 2px;
      .c-newmachine--kisyuinformation {
        box-shadow: none;
      }
    }
	}
}
@include m.mq(pc) {
}
