@use"../foundation/breakpoint" as m;


@include m.mq(sp){
  main {
    position: relative;
    top: 50px;
  }
}

@include m.mq(tab){
  main {
    position: relative;
    top: 100px;
  }
}
@include m.mq(pc){
  main {
    position: relative;
    top: 100px;
  }
}
