@use "./foundation/base";
@use "./foundation/breakopint" as m;

/* カレンダーのスタイル */
@include m.mq(sp) {
	/* 曜日の色を変更 */
	.wpsbc-container .wpsbc-calendars .wpsbc-calendar table {
		th:first-child {
			color: rgb(255, 0, 0);
		}
		th:last-child {
			color: rgb(0, 0, 255);
		}
	}
	/* カレンダーの月のスタイル */
	.wpsbc-container
		.wpsbc-calendars
		.wpsbc-calendar
		.wpsbc-calendar-header
		.wpsbc-select-container
		select {
		text-align: center;
		border: 0px;
		font-family: "Roboto";
		font-size: 20px;
	}
	.wpsbc-container .wpsbc-calendars .wpsbc-calendar .wpsbc-calendar-header {
		background-color: #fff;
	}
	/* カレンダーのタイトル */
	.wpsbc-container {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h2 {
			font-size: 24px;
		}
		/* カレンダーの背景角丸 */
		.wpsbc-legend-item-icon {
			border-radius: 6px;
		}
	}
	.wpsbc-legend {
		border: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		.wpsbc-legend-item:last-of-type {
			margin-right: 0px;
		}
	}
	/* カレンダーの枠を削除 */
	.wpsbc-container .wpsbc-calendars .wpsbc-calendar {
		border: 0px;
	}
	/* 凡例アイコン */
	.wpsbc-legend .wpsbc-legend-item {
		span {
			color: #fff;
			position: relative;
		}
	}
	.wpsbc-legend .wpsbc-legend-item-icon {
		margin-right: 10px;
		position: relative;
		&-1 + span::after {
			display: block;
			content: "通常営業";
			color: #000;
			font-size: 12px;
			font-weight: bold;
			font-family: "メイリオ";
			position: absolute;
			left: 0px;
		}
		&-2 + span::after {
			display: block;
			content: "店休日";
			color: #ff0000;
			font-size: 12px;
			font-weight: bold;
			font-family: "メイリオ";
			position: absolute;
			left: 0px;
		}
		&-3 + span::after {
			display: block;
			content: "新台入替";
			color: #000000;
			font-size: 12px;
			font-weight: bold;
			font-family: "メイリオ";
			position: absolute;
			left: 0px;
		}
	}
	/* 翌月へアイコン */
	.wpsbc-next {
		position: relative;
		transition: background-color 0.2s;
		&::before {
			content: "次月へ";
			font-size: 12px;
			color: #000;
			font-family: "Roboto";
			position: absolute;
			left: -40px;
		}
	}
	.wpsbc-container
		.wpsbc-calendars
		.wpsbc-calendar
		.wpsbc-calendar-header
		.wpsbc-calendar-header-navigation
		.wpsbc-next:hover {
		background-color: #900;
	}
	/* 先月へアイコン */
	.wpsbc-prev {
		position: relative;
		transition: background-color 0.2s;
		&::before {
			content: "先月へ";
			font-size: 12px;
			color: #000;
			font-family: "Roboto";
			position: absolute;
			right: -40px;
		}
	}
	.wpsbc-calendars
		.wpsbc-calendar
		.wpsbc-calendar-header
		.wpsbc-calendar-header-navigation
		.wpsbc-prev:hover {
		background-color: #900;
	}
}

@include m.mq(tab) {
	/* 曜日の色を変更 */
	.wpsbc-container .wpsbc-calendars .wpsbc-calendar table {
		th:first-child {
			color: rgb(255, 0, 0);
		}
		th:last-child {
			color: rgb(0, 0, 255);
		}
	}
	/* カレンダーの月のスタイル */
	.wpsbc-container
		.wpsbc-calendars
		.wpsbc-calendar
		.wpsbc-calendar-header
		.wpsbc-select-container
		select {
		text-align: center;
		border: 0px;
		font-family: "Roboto";
		font-size: 20px;
	}
	.wpsbc-container .wpsbc-calendars .wpsbc-calendar .wpsbc-calendar-header {
		background-color: #fff;
	}
	/* カレンダーのタイトル */
	.wpsbc-container {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h2 {
			font-size: 24px;
		}
		/* カレンダーの背景角丸 */
		.wpsbc-legend-item-icon {
			border-radius: 6px;
		}
	}
	.wpsbc-legend {
		border: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		.wpsbc-legend-item:last-of-type {
			margin-right: 0px;
		}
	}
	/* カレンダーの枠を削除 */
	.wpsbc-container .wpsbc-calendars .wpsbc-calendar {
		border: 0px;
	}
	/* 凡例アイコン */
	.wpsbc-legend .wpsbc-legend-item {
		span {
			color: #fff;
			position: relative;
		}
	}
	.wpsbc-legend .wpsbc-legend-item-icon {
		margin-right: 10px;
		position: relative;
		&-1 + span::after {
			display: block;
			content: "通常営業";
			color: #000;
			font-size: 12px;
			font-weight: bold;
			font-family: "メイリオ";
			position: absolute;
			left: 0px;
		}
		&-2 + span::after {
			display: block;
			content: "店休日";
			color: #ff0000;
			font-size: 12px;
			font-weight: bold;
			font-family: "メイリオ";
			position: absolute;
			left: 0px;
		}
		&-3 + span::after {
			display: block;
			content: "新台入替";
			color: #000000;
			font-size: 12px;
			font-weight: bold;
			font-family: "メイリオ";
			position: absolute;
			left: 0px;
		}
	}
	/* 翌月へアイコン */
	.wpsbc-next {
		position: relative;
		transition: background-color 0.2s;
		&::before {
			content: "次月へ";
			font-size: 12px;
			color: #000;
			font-family: "Roboto";
			position: absolute;
			left: -40px;
		}
	}
	.wpsbc-container
		.wpsbc-calendars
		.wpsbc-calendar
		.wpsbc-calendar-header
		.wpsbc-calendar-header-navigation
		.wpsbc-next:hover {
		background-color: #900;
	}
	/* 先月へアイコン */
	.wpsbc-prev {
		position: relative;
		transition: background-color 0.2s;
		&::before {
			content: "先月へ";
			font-size: 12px;
			color: #000;
			font-family: "Roboto";
			position: absolute;
			right: -40px;
		}
	}
	.wpsbc-calendars
		.wpsbc-calendar
		.wpsbc-calendar-header
		.wpsbc-calendar-header-navigation
		.wpsbc-prev:hover {
		background-color: #900;
	}
}
@include m.mq(pc) {
}
